@using Template_RealEstate_20052019.Extensions
@using Template_RealEstate_20052019.Models
@model GridModel<Template_RealEstate_20052019.Models.Article>

@if (Model?.Data != null && Model.Data.Any())
{
    <div id="policy" class="section-padding">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="page-title text-center">
                    <h1>Chính sách mới nhất</h1>
                    <p></p>
                    <hr class="pg-titl-bdr-btm"></hr>
                </div>
                <div class="row">
                    @foreach (var item in Model.Data)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a href="blog.html">
                                        <img src="~/upload/@item.Avatar" alt="">
                                    </a>
                                </div>
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")
                                    </span>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a href="blog.html">@item.ArticleTitle</a>
                                    </h4>
                                    <p>
                                        @item.Sapo
                                    </p>
                                </div>
                                <span>
                                    <a href="/chinh-sach-mua-nha/@item.ArticleTitle.Slugify()/@item.ArticleId" class="ready-btn">Xem thêm</a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
