@using Template_RealEstate_20052019.Extensions
@model IEnumerable<Template_RealEstate_20052019.Models.Article>

@if (Model != null && Model.Any())
{
    <div id="news" class="blog-area">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Tin tức mới nhất</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-blog">
                                <div class="single-blog-img">
                                    <a href="blog.html">
                                        <img src="~/upload/@item.Avatar" alt="">
                                    </a>
                                </div>
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")
                                    </span>
                                </div>
                                <div class="blog-text">
                                    <h4>
                                        <a href="blog.html">@item.ArticleTitle</a>
                                    </h4>
                                    <p>
                                        @item.Sapo
                                    </p>
                                </div>
                                <span>
                                    <a href="/tin-tuc/@item.ArticleTitle.Slugify()/@item.ArticleId" class="ready-btn">Xem thêm</a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
