<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/admin/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/lib/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin/lib/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/admin/dist/css/site.min.css">
    <link rel="stylesheet" href="~/admin/dist/css/skins/skin-blue.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Menu")
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.PageTitle
                </h1>
            </section>
            @await Html.PartialAsync("_Notification")
            @RenderBody()
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    <script src="~/admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    <script src="~/admin/dist/js/site.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>