@if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null)
{
    <section class="padding-15 container-fluid">
        <div class="row">
            <div class="col-md-12">
                @if (!string.IsNullOrEmpty(TempData["ErrorMessage"]?.ToString()))
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @Html.Raw(TempData["ErrorMessage"])
                    </div>
                }

                @if (!string.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Success!</h4>
                        @Html.Raw(TempData["SuccessMessage"])
                    </div>
                }
            </div>
        </div>
    </section>
}